/* Styles for the blog list page
***************************************************/
.blog {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

  @media @for-phone-only {
    flex-direction: column;
    padding: 6vh 4vh 1vh 4vh;
  }

  @media @for-tablet-portrait-up {
    padding: 3vw 9vw 8vw 9vw;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }

  @media @for-tablet-portrait-up {
    &:after {
      content: '';
      width: 25vw;
    }
  }
}

.blog__tile {
  display: block;

  @media @for-phone-only {
    width: 100%;
    margin-bottom: 9vh;
  }

  @media @for-tablet-portrait-up {
    width: 25vw;
  }

  .blog__tile-image {
    padding: 0;
    margin: 0 0 15px 0;
    position: relative;
    overflow: hidden;

    @media @for-phone-only {
      height: 30vh;
    }
    @media @for-tablet-portrait-up {
      height: 15vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  p,
  h3 {
    margin: 0 0 15px 0 !important;
    text-align: center;
    transition: all 0.4s ease;
  }

  .blog__category {
    font-size: 90%;
  }

  &:hover {
    &:active,
    &:visited {
      h3 {
        color: inherit;
      }
    }

    &:hover {
      h3 {
        color: @red;
      }
    }
  }
}

/* Styles for the blog post page
***************************************************/
.blog__hero {
  padding: 0;
  position: relative;
  overflow: hidden;
  text-align: center;

  @media @for-phone-only {
    height: 60vh;
  }
  @media @for-tablet-portrait-up {
    height: 40vw;
  }
  @media @for-tablet-landscape-up {
    height: 30vw;
  }
}

.blog__post-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media @for-phone-only {
    height: 60vh;
  }
  @media @for-tablet-portrait-up {
    height: 40vw;
  }
  @media @for-tablet-landscape-up {
    height: 30vw;
  }
}

.blog__post-category {
  width: 90vw;
  margin-top: 0;
  margin-bottom: 10px;
}

.blog__post-title {
  width: 90vw;
  margin-top: 0;
  margin-bottom: 10px;
}

.blog__post-avatar {
  border-radius: 100px;

  @media @for-phone-only {
    height: 40px;
    margin-top: 3vh;
  }
  @media @for-tablet-portrait-up {
    height: 40px;
    margin-top: 3vh;
  }
  @media @for-tablet-landscape-up {
    height: 50px;
    margin-top: 3vw;
  }
}

.blog__post-meta {
  width: 90vw;
  @media @for-phone-only {
    margin-top: 2vh;
  }
  @media @for-tablet-portrait-up {
    margin-top: 1vw;
  }
}

.blog__post {
  display: flex;
  flex-direction: column;
  margin: auto;

  @media @for-phone-only {
    padding: 9vh 4vh 9vh 4vh;
    margin: 0;
  }
  @media @for-tablet-portrait-up {
    padding: 6vw 15vw 6vw 15vw;
  }

  img,
  iframe {
    align-self: center;

    @media @for-phone-only {
      width: 100vw;
    }
    @media @for-tablet-portrait-up {
      width: 120%;
    }
  }

  h1, h2, h3 {
    margin-bottom: 0;
  }

  iframe {
    display: block;
    margin: auto;
  }
}

.blog__post-content {
  a {
    color: @red;

    &:hover {
      &:active,
      &:visited {
        color: inherit;
      }

      &:hover {
        color: @blue;
      }
    }
  }
}

/* Styles for the blog pagination
***************************************************/
.blog__pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  @media @for-phone-only {
    height: 100px;
  }
}

.blog__pagination-direction {
  width: 50%;
}

.blog__pagination-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row;
  transition: all 0.4s ease;

  path {
    fill: @blue;
  }

  &:hover {
    .blog__pagination-text {
      color: @red;
      transition: all 0.4s ease !important;
    }

    path {
      fill: @red;
      transition: all 0.4s ease;
    }
  }
}

.blog__pagination-text {
  font-family: @medium-font, @generic-fonts;
  text-transform: uppercase;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
  @media @for-phone-only {
    font-size: 4vw;
  }
  @media @for-tablet-portrait-up {
    font-size: 4vw;
  }
  @media @for-tablet-landscape-up {
    font-size: 2vw;
  }
}

.blog__pagination-left-arrow {
  @media @for-phone-only {
    height: 6vw;
    width: 6vw;
  }
  @media @for-tablet-portrait-up {
    height: 6vw;
    width: 6vw;
  }
  @media @for-tablet-landscape-up {
    height: 2.5vw;
    width: 2.5vw;
  }
}

.blog__pagination-right-arrow {
  @media @for-phone-only {
    height: 6vw;
    width: 6vw;
  }
  @media @for-tablet-portrait-up {
    height: 6vw;
    width: 6vw;
  }
  @media @for-tablet-landscape-up {
    height: 2.5vw;
    width: 2.5vw;
  }
}
