/* Styles for the careers page and detail
***************************************************/
.careers__list {
  @media @for-phone-only {
    padding: 3vh 4vh 3vh 4vh;
  }
  @media @for-tablet-portrait-up {
    padding: 3vw 9vw 3vw 9vw;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }

  hr {
    @media @for-phone-only {
      margin-top: 5vw;
      margin-bottom: 5vw;
    }
    @media @for-tablet-portrait-up {
      margin-top: 5vw;
      margin-bottom: 5vw;
    }
  }
}

.careers__item {
  display: block;
  box-sizing: border-box;
  position: relative;

  p {
    width: 80%;
  }

  path {
    fill: @blue;
  }

  &:hover {
    path {
      fill: @red;
    }

    h2 {
      color: @red;
    }
  }
}

.careers__arrow {
  position: absolute;

  @media @for-phone-only {
    height: 4.75vw;
    top: 0;
    right: 0;
  }
  @media @for-tablet-portrait-up {
    height: 2.5vw;
    top: 0;
    right: 0;
  }
}

.careers__back-arrow-link {
  position: relative;

  path {
    fill: @slate;
  }

  &:hover {
    color: @red;

    path {
      fill: @red;
    }
  }
}

.careers__back-arrow {

  @media @for-phone-only {
    height: 6vw;
    margin-bottom: 8vw;
  }
  @media @for-tablet-portrait-up {
    height: 6vw;
    margin-bottom: 8vw;
  }
  @media @for-tablet-landscape-up {
    height: 2.5vw;
    margin-bottom: 4vw;
  }
}
