/* Styles for the careers page and detail
***************************************************/
.careers__list {
  padding: 5vw;
}

.careers__item {
  box-sizing: border-box;
  border-bottom: 1px solid @mediumgray;
  position: relative;

  @media @for-phone-only {
    padding-bottom: 5vw;
    padding-top: 5vw;
  }
  @media @for-tablet-portrait-up {
    padding-bottom: 3vw;
    padding-top: 3vw;
  }

  p {
    width: 80%;
  }

  path {
    fill: @blue;
  }

  &:hover {
    path {
      fill: @red;
    }

    .careers__title {
      color: @red;
    }
  }
}

.careers__arrow {
  position: absolute;

  @media @for-phone-only {
    height: 4.75vw;
    top: 5vw;
    right: 0;
  }
  @media @for-tablet-portrait-up {
    height: 2.5vw;
    top: 3vw;
    right: 0;
  }
  @media @for-tablet-landscape-up {
    height: 2.5vw;
    top: 3vw;
    right: 0;
  }
}

.careers__title {
  margin-top: 0;
  margin-bottom: 1vw;
}

.careers__back-arrow-link {
  position: relative;

  path {
    fill: @slate;
  }

  &:hover {
    color: @red;

    path {
      fill: @red;
    }
  }
}

.careers__back-arrow {

  @media @for-phone-only {
    height: 6vw;
    margin-bottom: 8vw;
  }
  @media @for-tablet-portrait-up {
    height: 6vw;
    margin-bottom: 8vw;
  }
  @media @for-tablet-landscape-up {
    height: 2.5vw;
    margin-bottom: 4vw;
  }
}
