

/* Styles for the careers page and detail
***************************************************/
.careers__list {
  position: relative;
  z-index: 2;
  background-color: white;

  @media @for-phone-only {
    padding: 3vh 4vh 3vh 4vh;
  }
  @media @for-tablet-portrait-up {
    padding: 3vw 9vw 3vw 9vw;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }

  hr {
    @media @for-phone-only {
      margin-top: 5vw;
      margin-bottom: 5vw;
    }
    @media @for-tablet-portrait-up {
      margin-top: 5vw;
      margin-bottom: 5vw;
    }
  }
}

.careers__item {
  display: block;
  box-sizing: border-box;
  position: relative;

  p {
    width: 80%;
  }

  path {
    fill: @blue;
  }

  &:hover {
    path {
      fill: @red;
      transition: all .4s ease;
    }

    h2 {
      color: @red;
      transition: all .4s ease;
    }
  }
}

.careers__arrow {
  position: absolute;

  @media @for-phone-only {
    height: 4.75vw;
    width: 4.75vw;
    top: 0;
    right: 0;
  }
  @media @for-tablet-portrait-up {
    height: 2.5vw;
    width: 2.5vw;
    top: 0;
    right: 0;
  }
}

.careers__detail {
  margin: auto;

  @media @for-phone-only {
    padding: 9vh 4vh 9vh 4vh;
    margin: 0;
  }
  @media @for-tablet-portrait-up {
    padding: 6vw 15vw 6vw 15vw;
  }
}

.careers__back-arrow {
  display: block;
  
  path {
    fill: @blue;
  }

  &:hover {
    color: @red;

    path {
      fill: @red;
      transition: all .4s ease;
    }
  }

  svg {
    @media @for-phone-only {
      height: 6vw;
      width: 6vw;
      margin-bottom: 8vw;
    }
    @media @for-tablet-portrait-up {
      height: 6vw;
      width: 6vw;
      margin-bottom: 8vw;
    }
    @media @for-tablet-landscape-up {
      height: 2.5vw;
      width: 2.5vw;
      margin-bottom: 4vw;
    }
  }
}
