/* Styles for the contact page
***************************************************/
.rule {
  display: block;
  height: 1px;
  border: 0;
  margin: .3em 0;
  padding: 0;
}

.rule__white:extend(.rule) {
  border-top: 1px solid @white;
}

.rule__blue:extend(.rule) {
  border-top: 1px solid @blue;
}

#map {
  .marker {
    background-image: url('/assets/images/foundry_pin.svg');
    background-size: cover;
    width: 60px;
    height: 80.46px;
    cursor: pointer;
  }
}
