.projects {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  
  @media @for-phone-only {
    flex-direction: column;
    padding: 1vh 4vh 1vh 4vh;
  }
  
  @media @for-tablet-portrait-up {
    padding: 1vw 9vw 8vw 9vw;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.projects__tile {
  display: block;
  
  @media @for-phone-only {
    width:100%;
    margin-bottom: 9vh;
  }
  
  @media @for-tablet-portrait-up {
    width: 25vw;
  }

  span {
    transition: all .4s ease;
  }

  img {
    width: 100%;
  }

  p {
    display: inline;
  }

  &:hover {
    &:active,
    &:visited {
      span {
        color: inherit;
      }
    }

    &:hover {
      span {
        color: @red;
      }
    }
  }
}