/* Carousel of client icons on homepage
***************************************************/
.clients-carousel {
  position: relative;
  display: flex;
  flex-flow: row;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100vw;

  @media @for-phone-only {
    height: 30vw;
    margin-bottom: 3vh;
  }
  @media @for-tablet-portrait-up {
    height: 15vw;
    margin-bottom: 3vw;
  }
}

.clients-carousel__row {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row;
  width:100%;
  height: 100%;
  opacity:0; 
  animation-name: fade; 
  animation-duration: 9s; 
  animation-iteration-count: infinite; 
}

.clients-carousel__row:nth-child(1) { animation-delay: 0s; }
.clients-carousel__row:nth-child(2) { animation-delay: 3s; }
.clients-carousel__row:nth-child(3) { animation-delay: 6s; }

@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

.clients-carousel__tile {
  flex: 1 0 33.3333334%;
  width: 33.3333334%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    filter: grayscale(1);
    @media @for-phone-only {
      max-width: 50%;
      max-height: 60%;
    }
    @media @for-tablet-portrait-up {
      max-width: 50%;
      max-height: 50%;
    }
  }
}

.clients-carousel__tile--sm-height {
  img {
    @media @for-tablet-portrait-up {
      max-height: 40%;
    }
  }
}