/* Project list page
/* including list view on homepage
***************************************************/
.projects {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  @media @for-phone-only {
    flex-direction: column;
    padding: 6vh 4vh 1vh 4vh;
  }

  @media @for-tablet-portrait-up {
    padding: 1vw 9vw 8vw 9vw;
    margin-left: -1.5vw;
    margin-right: -1.5vw;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.projects__tile {
  display: block;
  margin-top: 3vw;

  @media @for-phone-only {
    width: 100%;
    margin-bottom: 9vh;
  }

  @media @for-tablet-portrait-up {
    flex: 1 0 33%;
    max-width: 33%;
    box-sizing: border-box;
    padding: 0 1.5vw 3vw;
  }

  .projects__tile-image {
    padding: 0;
    margin: 0 0 15px 0;
    position: relative;
    overflow: hidden;
  }

  .projects__tile-text {
    display: flex;
    flex-direction: column;
    @media @for-tablet-portrait-up {
      height: 300px;
    }
  }

  span {
    transition: all 0.4s ease;
  }

  img {
    width: 100%;
  }

  p {
    display: inline;
    font-size: 75%;
  }

  &:hover {
    &:active,
    &:visited {
      span {
        color: inherit;
      }
    }

    &:hover {
      span {
        color: @red;
      }
    }
  }
}

/* Project detail page
***************************************************/
.projects__detail {
  @media @for-phone-only {
    padding: 6vw;
  }
  @media @for-tablet-portrait-up {
    padding: 2vw 4vw 4vw 4vw;
  }

  .image-block {
    margin: 0;
  }
}

.projects__header {
  @media @for-tablet-portrait-up {
    padding: 0 9vw;
  }
}

.projects__body {
  h2 {
    color: @blue;
    font-family: @medium-font;
  }

  p {
    /* 1.125x body copy size = 18px */
    font-size: 1.125em;
    line-height: 1.25;

    @media @for-tablet-portrait-up {
      /* (22px / 18px */
      line-height: 1.375;
    }
  }

  .image-caption-wrapper {
    padding-left: 1vw;
    padding-top: 0 !important;
    color: @mediumgray;

    p {
      font-size: 0.95em;
    }
  }

  .image-block {
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  .html-block {
    margin-top: 4vw;
    margin-bottom: 4vw;
    
    @media @for-tablet-portrait-up {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .sqs-block-content {
    .video-block {
      text-align: center;
    }

    .mobile-video-block {
      video {
        max-height: 95vh;
      }
    }
  }
}

.projects__pagination {
  display: block;
  
  @media @for-phone-only {
    padding: 4vh 0 4vh 0;
  }

  @media @for-tablet-portrait-up {
    padding: 4vw 0 4vw 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  p,
  strong {
    color: @blue !important;
  }
}