/* Layout styles for project pages
***************************************************/
.project-content {
    .image-block {
      margin: 0;
    }

    .image-block:nth-child(n+2) {
      @media @for-phone-only {
        margin-left: 6vw;
        margin-right: 6vw;
      }
      @media @for-tablet-portrait-up {
        margin-left: 6vw;
        margin-right: 6vw;
      }
      @media @for-tablet-landscape-up {
        margin-left: 4vw;
        margin-right: 4vw;
      }
    }

    .html-block {
      width: 70vw;
      margin: auto;
      margin-top: 6vmax;
      margin-bottom: 6vmax;

      h3 {
        color: @red;
        margin-bottom: 2vw;
      }
    }
}

/* Overrides for carousels in project pages
***************************************************/
.swiper-container {
  width: 100vw;
  height: inherit;

  .swiper-slide {
    display: flex;
    align-items: center;
    width: auto;

    img {
      height: 80%;
    }
  }

  .swiper-pagination-bullet {
    background: #E3E3E3;
    opacity: .7;
  }

  .swiper-pagination-bullet-active {
    background: #999999;
    opacity: .7;
  }
}

/* Style for pagination element used on case studies
***************************************************/
.pagination {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.pagination__container {
  position: relative;
  background-color: @white;
  display: flex;
  align-items: center;
  flex-flow: row;
  color: @blue;

  path {
    fill: @blue;
  }

  &:hover {
    color: @red;

    path {
      fill: @red;
    }
  }

  @media @for-phone-only {height: 100px;}
  @media @for-tablet-portrait-up {height: 160px;}
}

.pagination__text {
  font-family: @medium-font, @generic-fonts;
  text-transform: uppercase;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.pagination__link {
  height: 100%;
  width: 100%;
  z-index: @z-overlay;
  position: absolute;
  top: 0;
  left: 0;
}

.pagination__left-arrow {
  margin-left: 4vw;
  @media @for-phone-only {height: 6vw;}
  @media @for-tablet-portrait-up {height: 6vw;}
  @media @for-tablet-landscape-up {height: 2.5vw;}
}

.pagination__right-arrow {
  margin-right: 4vw;
  @media @for-phone-only {height: 6vw;}
  @media @for-tablet-portrait-up {height: 6vw;}
  @media @for-tablet-landscape-up {height: 2.5vw;}
}