/* Project list page
/* including list view on homepage
***************************************************/
.projects {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  
  @media @for-phone-only {
    flex-direction: column;
    padding: 1vh 4vh 1vh 4vh;
  }
  
  @media @for-tablet-portrait-up {
    padding: 1vw 9vw 8vw 9vw;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.projects__tile {
  display: block;
  
  @media @for-phone-only {
    width:100%;
    margin-bottom: 9vh;
  }
  
  @media @for-tablet-portrait-up {
    width: 25vw;
  }

  .projects__tile-text {
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  span {
    transition: all .4s ease;
  }

  img {
    width: 100%;
  }

  p {
    display: inline;
    font-size: 80%;
  }

  &:hover {
    &:active,
    &:visited {
      span {
        color: inherit;
      }
    }

    &:hover {
      span {
        color: @red;
      }
    }
  }
}

/* Project detail page
***************************************************/
.project-content {
    .image-block {
      margin: 0;
    }

    .html-block {
      width: 70vw;
      margin: auto;
      margin-top: 6vmax;
      margin-bottom: 6vmax;

      h3 {
        color: @red;
        margin-bottom: 2vw;
      }
    }
}