/* Styles for the footer
***************************************************/
.footer {
  box-sizing: border-box;
  width: 100vw;
  min-height: 340px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  
  background-color: @blue;
  font-family: @light-font;
  color: @white;
  font-size: 16px;
  line-height: 28px;

  @media @for-phone-only {
    padding: 8vh 4vh;
  }
  @media @for-tablet-portrait-up {
    padding: 4vw;
  }
}

.footer__lettermark {
  display: block;
  margin-bottom: 35px;
  height: 50px;

  svg {
    height: 100%;
  }
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer__contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  div {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.footer__link {
  color: @white;
  text-decoration: none;
  font-family: @light-font;
  transition: all 0.4s ease;
  margin-left: 5px;
  margin-right: 5px;

  &:active,
  &:visited {
    color: @white;
  }

  &:hover {
    color: @red;
  }
}

.footer__link-item {
  &:after {
    content: '•';
  }

  &:last-child:after {
    content: '';
  }
}

/* Styles for the Mailchimp form
/* (sorry they're insane.)
***************************************************/
.footer__subscribe {
  display: flex;
  flex-direction: column;
  padding: 0 !important;

  // Input box for the subscribe form
  .newsletter-form-field-element {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    
    // Set the input color to white and remove weird font smoothing
    color: @white;
    font-family: @light-font, @generic-fonts;
    font-size: 16px !important;
    -moz-osx-font-smoothing: auto !important;
    &::placeholder {opacity: 1; color: @white;}
    &::-webkit-input-placeholder { color: @white; }
    &::-moz-placeholder { color: @white; }
    &:-ms-input-placeholder { color: @white; }
    &:-moz-placeholder { color: @white; }
    
    // Set the appearance and dimensions of the input box
    height: 40px;
    background: none;
    border: 1px solid @white;
    border-radius: 0;
    -webkit-border-radius: 0;

    @media @for-phone-only {
      width: 80vw;
    }
    @media @for-tablet-portrait-up {
      width: 350px;
    }

    // Change the color of the text on focus
    &:focus,
    &:invalid {
      color: @blue;
      outline: none;
      box-shadow: none;
    }

    // Override weird highlights and focus states
    -webkit-appearance: none;
    
    &::after,
    &::before {
      box-sizing: border-box;
    }
    
    &::-webkit-autofill {
      -webkit-box-shadow: 0 0 0 0 white inset;
      box-shadow: 0 0 0 0 white inset;
    }
  }

  // Sign Up button for the subscription form
  .newsletter-form-button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    font-family: @regular-font, @generic-fonts;
    font-size: 16px !important;
    color: @white;
    text-transform: capitalize;
    -moz-osx-font-smoothing: auto !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    
    height: 40px !important;
    margin-left: 15px;
    padding: 7px 30px 7px 30px !important;
    background: transparent;
    border: 1px solid @white !important;
    border-radius: 50px !important;

    // Override Squarespace hover transition
    &:hover {
      background: @white;
      color: @blue;
      opacity: 1 !important;
      transition: all .4s ease !important;
    }
  }

  .field-error {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px !important;
    color: @red;
    -moz-osx-font-smoothing: auto !important;
  }
  
  .form-submission-text {
    color: @white;
    font-size: 16px !important;
    -moz-osx-font-smoothing: auto !important;
  }
  
  // Override style on the countless Squarespace containers
  .newsletter-style-dark,
  .newsletter-block,
  .newsletter-form-wrapper {
    display: flex;
    justify-content: center;
    background: none;
    padding: 0;
    margin: 0;
  }

  // Override all the crazy padding and margins Squarespace throws on everything
  .newsletter-block,
  .newsletter-form-wrapper,
  .newsletter-form-wrapper--layoutFloat,
  .newsletter-form-wrapper--alignCenter,
  .newsletter-form-button-wrapper,
  .newsletter-form-field-wrapper,
  .newsletter-form-fields-wrapper {
    margin: 0 !important;
    padding-bottom: 0 !important;
  }

}

/* Social media icons
***************************************************/
.footer__social {
  margin-top: 35px;
  padding: 0;

  a {
    text-decoration: none;
  }
}

.footer__social-icon {
  height: 25px;
  margin-left: 14px;
  margin-right: 14px;

  &:hover {
    path {
      fill: @red;
      transition: all .4s ease;
    }
  }
}