.project-content {
    .image-block {
      margin: 0;
    }

    .image-block:nth-child(n+2) {
      @media @for-phone-only {
        margin-left: 6vw;
        margin-right: 6vw;
      }
      @media @for-tablet-portrait-up {
        margin-left: 6vw;
        margin-right: 6vw;
      }
      @media @for-tablet-landscape-up {
        margin-left: 4vw;
        margin-right: 4vw;
      }
    }

    .html-block {
      width: 70vw;
      margin: auto;
      margin-top: 6vmax;
      margin-bottom: 6vmax;

      h3 {
        color: @red;
        margin-bottom: 2vw;
      }
    }
}