/* Site container reset
***************************************************/
.site-container {
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

/* Content container
***************************************************/
.content-container {
  @media @for-phone-only {
    margin-left: 6vw;
    margin-right: 6vw;
  }
  @media @for-tablet-portrait-up {
    margin-left: 6vw;
    margin-right: 6vw;
  }
  @media @for-tablet-landscape-up {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

/* Text container
***************************************************/
.text-container {
  box-sizing: border-box;
  z-index: @z-content;

  @media @for-phone-only {
    padding: 9vh 4vh 9vh 4vh;
  }
  @media @for-tablet-portrait-up {
    padding: 8vw 9vw 8vw 9vw;
  }
}

/* Hero video
***************************************************/
.hero__video {
  padding: 0;
  position: relative;
  overflow: hidden;

  @media @for-phone-only {
    min-height: 70vh;
  }
  @media @for-tablet-portrait-up {
    min-height: 60vw;
  }
  @media @for-tablet-landscape-up {
    min-height: 45vw;
  }

  video {
    padding: 0;
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    z-index: @z-content;

    @media @for-phone-only {
      width: auto;
      height: 100%;
    }
    @media @for-tablet-portrait-up {
      width: 100%;
      height: auto;
    }
  }
}

/* Hero image
***************************************************/
.hero__image {
  padding: 0;
  position: relative;
  overflow: hidden;

  @media @for-phone-only {
    min-height: 70vh;
  }
  @media @for-tablet-portrait-up {
    min-height: 60vw;
  }
  @media @for-tablet-landscape-up {
    min-height: 45vw;
  }
}


/* Hide elements to prevent scroll reveal flash
***************************************************/
.scroll-reveal,
.image-block,
.code-block {
  visibility: hidden;
}

/* Z-index variables
***************************************************/
@z-menu: 5;
@z-navbar: 4;
@z-above-overlay: 3;
@z-overlay: 2;
@z-content: 1;
@z-below-content: -1;
