h1 {
  font-family: @bold-font, @generic-fonts;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5vw;

  @media @for-phone-only {font-size: 6.75vw;}
  @media @for-tablet-portrait-up {font-size: 4vw;}
}

h2 {
  font-family: @regular-font, @generic-fonts;
  margin: 0;

  @media @for-phone-only {font-size: 6.75vw;}
  @media @for-tablet-portrait-up {font-size: 4vw;}
}

#block-yui_3_17_2_1_1521667972364_4464 {
  div {
    box-sizing: border-box;
    z-index: @z-content;

    @media @for-phone-only {padding: 9vh 4vh 3vh 4vh;}
    @media @for-tablet-portrait-up {padding: 8vw 9vw 4vw 9vw;}
  }
}