/* Legibility
***************************************************/
h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {     -webkit-font-smoothing: subpixel-antialiased; }

/* Baseline typography
***************************************************/
body {
  font-family: @regular-font, @generic-fonts;
  color: @blue;
}

h1 {
  font-family: @bold-font, @generic-fonts;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5vw;

  @media @for-phone-only {font-size: 6.75vw;}
  @media @for-tablet-portrait-up {font-size: 4vw;}
}

h2 {
  font-family: @regular-font, @generic-fonts;
  margin: 0;

  @media @for-phone-only {font-size: 6.75vw;}
  @media @for-tablet-portrait-up {font-size: 4vw;}
}

h3 {
  font-family: @regular-font, @generic-fonts;
  margin: 0;

  @media @for-phone-only {font-size: 5vw;}
  @media @for-tablet-portrait-up {font-size: 3vw;}
}

p {
  line-height: 1.15;
  @media @for-phone-only {font-size: 4.25vw;}
  @media @for-tablet-portrait-up {font-size: 2vw;}
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .4s ease;

  &.hover {
    &:active,
    &:visited {
      color: inherit;
    }

    &:hover {
      color: @red;
    }
  }
}

/* Custom typography
***************************************************/
.page__title {
  margin-bottom: 3vw;

  p {
    font-family: @medium-font, @generic-fonts;
    color: @white;
    text-transform: uppercase;
    @media @for-phone-only {font-size: 3.25vw;}
    @media @for-tablet-portrait-up {font-size: 1.5vw;}
  }
}

.page__headline {
  h1 {
    margin-top: 0;
    margin-bottom: 0.5vw;
  }
}

.page__subheadline {
  h2 {
    margin: 0;
  }

  p, ul {
    margin: 0;
    @media @for-phone-only {font-size: 6.75vw;}
    @media @for-tablet-portrait-up {font-size: 4vw;}
  }

  ul {
    margin-top: 3vw;
  }
}