/* Text mods
***************************************************/
.util__text-uppercase {
  text-transform: uppercase;
}

/* Color mods
***************************************************/
.util__text-blue {
  color: @blue;
}

.util__text-red {
  color: @red;
}

.util__text-white {
  color: @white;
}

.util__bg-blue {
  background-color: @blue;
}

/* Display mods
***************************************************/
.util__hidden {
  display: none;
}

/* Overlay mods
***************************************************/
.util__overlay-blue {
  display: block;
  z-index: @z-overlay;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 51, 78, 0.75);
}

/* Z-index mods
***************************************************/
.util__z-above-overlay {
  display: block;
  z-index: @z-above-overlay;
  position: absolute;
  left: 0;
  top: 0;
}

.util__z-below-content {
  display: block;
  z-index: @z-below-content;
  position: absolute;
  left: 0;
  top: 0;
}

/* Make an entire div link
***************************************************/
.util__background-link {
  height: 100%;
  width: 80%;
  z-index: @z-above-overlay;
  position: absolute;
  top: 0;
  right: 0;
}
